src/main/resources/api/Hotel.wsdl

<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/">
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
<s:element name="GetHotels">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="location" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="noGuests" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="checkindate" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="checkoutdate" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="roomType" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetHotelsResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetHotelsResult" type="tns:ArrayOfString"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="ArrayOfString">
<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string"/>
</s:sequence>
</s:complexType>
<s:element name="BookHotel">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="hotelid" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="noGuests" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="checkindate" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="checkoutdate" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="roomType" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="numOfRooms" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="BookHotelResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="BookHotelResult" type="tns:ArrayOfHotel"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="ArrayOfHotel">
<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="Hotel" nillable="true" type="tns:Hotel"/>
</s:sequence>
</s:complexType>
<s:complexType name="Hotel">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="HotelId" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="HotelName" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="noGuests" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="checkindate" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="checkoutdate" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="roomType" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="numOfRooms" type="s:string"/>
</s:sequence>
</s:complexType>
<s:element name="CancelHotelBooking">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="hotelId" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="CancelHotelBookingResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="CancelHotelBookingResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ModifyHotelBooking">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="hotelId" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="noGuests" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="checkindate" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="checkoutdate" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="roomType" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="numOfRooms" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ModifyHotelBookingResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="ModifyHotelBookingResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
</s:schema>
</wsdl:types>
<wsdl:message name="GetHotelsSoapIn">
<wsdl:part name="parameters" element="tns:GetHotels"/>
</wsdl:message>
<wsdl:message name="GetHotelsSoapOut">
<wsdl:part name="parameters" element="tns:GetHotelsResponse"/>
</wsdl:message>
<wsdl:message name="BookHotelSoapIn">
<wsdl:part name="parameters" element="tns:BookHotel"/>
</wsdl:message>
<wsdl:message name="BookHotelSoapOut">
<wsdl:part name="parameters" element="tns:BookHotelResponse"/>
</wsdl:message>
<wsdl:message name="CancelHotelBookingSoapIn">
<wsdl:part name="parameters" element="tns:CancelHotelBooking"/>
</wsdl:message>
<wsdl:message name="CancelHotelBookingSoapOut">
<wsdl:part name="parameters" element="tns:CancelHotelBookingResponse"/>
</wsdl:message>
<wsdl:message name="ModifyHotelBookingSoapIn">
<wsdl:part name="parameters" element="tns:ModifyHotelBooking"/>
</wsdl:message>
<wsdl:message name="ModifyHotelBookingSoapOut">
<wsdl:part name="parameters" element="tns:ModifyHotelBookingResponse"/>
</wsdl:message>
<wsdl:portType name="HotelsSoap">
<wsdl:operation name="GetHotels">
<wsdl:input message="tns:GetHotelsSoapIn"/>
<wsdl:output message="tns:GetHotelsSoapOut"/>
</wsdl:operation>
<wsdl:operation name="BookHotel">
<wsdl:input message="tns:BookHotelSoapIn"/>
<wsdl:output message="tns:BookHotelSoapOut"/>
</wsdl:operation>
<wsdl:operation name="CancelHotelBooking">
<wsdl:input message="tns:CancelHotelBookingSoapIn"/>
<wsdl:output message="tns:CancelHotelBookingSoapOut"/>
</wsdl:operation>
<wsdl:operation name="ModifyHotelBooking">
<wsdl:input message="tns:ModifyHotelBookingSoapIn"/>
<wsdl:output message="tns:ModifyHotelBookingSoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="HotelsSoap" type="tns:HotelsSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="GetHotels">
<soap:operation soapAction="http://tempuri.org/GetHotels" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="BookHotel">
<soap:operation soapAction="http://tempuri.org/BookHotel" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="CancelHotelBooking">
<soap:operation soapAction="http://tempuri.org/CancelHotelBooking" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ModifyHotelBooking">
<soap:operation soapAction="http://tempuri.org/ModifyHotelBooking" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="HotelsSoap12" type="tns:HotelsSoap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="GetHotels">
<soap12:operation soapAction="http://tempuri.org/GetHotels" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="BookHotel">
<soap12:operation soapAction="http://tempuri.org/BookHotel" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="CancelHotelBooking">
<soap12:operation soapAction="http://tempuri.org/CancelHotelBooking" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ModifyHotelBooking">
<soap12:operation soapAction="http://tempuri.org/ModifyHotelBooking" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="Hotels">
<wsdl:port name="HotelsSoap" binding="tns:HotelsSoap">
<soap:address location="http://localhost:59006/Hotels.asmx"/>
</wsdl:port>
<wsdl:port name="HotelsSoap12" binding="tns:HotelsSoap12">
<soap12:address location="http://localhost:59006/Hotels.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>